Repository spiralhouse/vagrant-orbstack-provider: changes, and which Codecov flags are due for each by the changed paths.
All: Core Provider, Action Middleware

fix: resolve plugin loading errors for real Vagrant environment
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/config.rb
  lib/vagrant-orbstack/provider.rb
Due: Core Provider

fix: resolve plugin loading errors for real Vagrant environment [SPI-1220]
  lib/vagrant-orbstack.rb
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

fix: resolve plugin loading errors [SPI-1220] (#15)
  lib/vagrant-orbstack.rb
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/config.rb
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

chore: add test-env/ to gitignore
  .gitignore
Due: none

feat: implement machine halt and resume [SPI-1201]
  .gitignore
  .rubocop.yml
  README.md
  docs/DESIGN.md
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/halt.rb
  lib/vagrant-orbstack/action/start.rb
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/action/halt_spec.rb
  spec/vagrant-orbstack/action/start_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider, Action Middleware

feat: implement machine halt and resume [SPI-1201] (#16)
  .gitignore
  .rubocop.yml
  README.md
  docs/DESIGN.md
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/halt.rb
  lib/vagrant-orbstack/action/start.rb
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/action/halt_spec.rb
  spec/vagrant-orbstack/action/start_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider, Action Middleware

feat: implement machine destruction and cleanup [SPI-1203]
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/destroy.rb
  lib/vagrant-orbstack/action/halt.rb
  lib/vagrant-orbstack/action/machine_validation.rb
  lib/vagrant-orbstack/action/start.rb
  lib/vagrant-orbstack/provider.rb
  spec/integration/machine_destroy_spec.rb
  spec/vagrant-orbstack/action/destroy_spec.rb
  spec/vagrant-orbstack/action/machine_validation_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider, Action Middleware

fix: handle nil machine ID gracefully in destroy (idempotency)
  lib/vagrant-orbstack/action/destroy.rb
  spec/vagrant-orbstack/action/destroy_spec.rb
Due: Action Middleware

feat: implement machine destruction and cleanup [SPI-1203] (#17)
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/destroy.rb
  lib/vagrant-orbstack/action/halt.rb
  lib/vagrant-orbstack/action/machine_validation.rb
  lib/vagrant-orbstack/action/start.rb
  lib/vagrant-orbstack/provider.rb
  spec/integration/machine_destroy_spec.rb
  spec/vagrant-orbstack/action/destroy_spec.rb
  spec/vagrant-orbstack/action/machine_validation_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider, Action Middleware

feat: implement machine reload operation [SPI-1202]
  docs/DESIGN.md
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/create.rb
  lib/vagrant-orbstack/action/destroy.rb
  lib/vagrant-orbstack/action/halt.rb
  lib/vagrant-orbstack/action/machine_validation.rb
  lib/vagrant-orbstack/action/reload.rb
  lib/vagrant-orbstack/action/start.rb
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/action/reload_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider, Action Middleware

feat: add ssh_username configuration attribute [SPI-1222]
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

feat: add ssh_username configuration attribute [SPI-1222] (#18)
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

feat: add forward_agent configuration attribute [SPI-1223]
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

feat: add forward_agent configuration attribute [SPI-1223] (#19)
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

feat: add SSH error handling [SPI-1224]
  lib/vagrant-orbstack/errors.rb
  locales/en.yml
  spec/vagrant-orbstack/errors_spec.rb
Due: none

feat: add SSH error handling [SPI-1224] (#20)
  lib/vagrant-orbstack/errors.rb
  locales/en.yml
  spec/vagrant-orbstack/errors_spec.rb
Due: none

docs: restructure CLAUDE.md to enforce critical constraints [SPI-1229]
  CLAUDE.md
Due: none

refine: clarify TDD constraints apply to production code only [SPI-1229]
  CLAUDE.md
Due: none

docs: restructure CLAUDE.md to enforce critical constraints [SPI-1229] (#21)
  CLAUDE.md
Due: none

feat: implement Provider#ssh_info for SSH connectivity [SPI-1225]
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/provider_ssh_info_spec.rb
Due: Core Provider

chore: add RuboCop disable comments for ssh_info method metrics
  lib/vagrant-orbstack/provider.rb
Due: Core Provider

fix: update ssh_info to use OrbStack SSH proxy architecture [SPI-1225]
  docs/DESIGN.md
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/provider_ssh_info_spec.rb
Due: Core Provider

docs: add CHANGELOG entry for SSH connectivity [SPI-1225]
  CHANGELOG.md
Due: none

feat: implement Provider#ssh_info for SSH connectivity [SPI-1225] (#22)
  CHANGELOG.md
  docs/DESIGN.md
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/provider_ssh_info_spec.rb
Due: Core Provider

docs: add SSH user model explanation to README
  README.md
Due: none

docs: add SSH user model explanation to README (#24)
  README.md
Due: none

feat: add SSH readiness waiting after machine boot [SPI-1226]
  lib/vagrant-orbstack/action/create.rb
  lib/vagrant-orbstack/util/ssh_readiness_checker.rb
  spec/vagrant-orbstack/action/create_spec.rb
  spec/vagrant-orbstack/util/ssh_readiness_checker_spec.rb
Due: Action Middleware

fix: increase SSH readiness timeout to 120s for CI [SPI-1226]
  lib/vagrant-orbstack/util/ssh_readiness_checker.rb
  spec/vagrant-orbstack/util/ssh_readiness_checker_spec.rb
Due: none

fix: stub SSH wait in integration tests [SPI-1226]
  spec/integration/machine_creation_spec.rb
Due: none

fix: stub SSH wait in destroy integration tests [SPI-1226]
  spec/integration/machine_destroy_spec.rb
Due: none

feat: add SSH readiness waiting after machine boot [SPI-1226] (#25)
  lib/vagrant-orbstack/action/create.rb
  lib/vagrant-orbstack/util/ssh_readiness_checker.rb
  spec/integration/machine_creation_spec.rb
  spec/integration/machine_destroy_spec.rb
  spec/vagrant-orbstack/action/create_spec.rb
  spec/vagrant-orbstack/util/ssh_readiness_checker_spec.rb
Due: Action Middleware

test: add SSH verification tests for vagrant ssh [SPI-1227]
  spec/e2e/vagrant_ssh_spec.rb
  spec/integration/ssh_connectivity_spec.rb
Due: none

fix: address RuboCop offenses in E2E tests
  spec/e2e/vagrant_ssh_spec.rb
Due: none

fix: exclude E2E tests from pre-push hook
  .githooks/pre-push
Due: none

test: add SSH verification tests for vagrant ssh [SPI-1227] (#27)
  .githooks/pre-push
  spec/e2e/vagrant_ssh_spec.rb
  spec/integration/ssh_connectivity_spec.rb
Due: none

fix: exclude e2e tests from default rake spec task [SPI-1278]
  DEVELOPMENT.md
  Rakefile
Due: none

fix: exclude e2e tests from default rake spec task [SPI-1278] (#28)
  DEVELOPMENT.md
  Rakefile
Due: none

feat: implement :ssh_run action for vagrant ssh -c [SPI-1240]
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/ssh_run.rb
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/action/ssh_run_spec.rb
Due: Core Provider, Action Middleware

feat: implement :ssh_run action for vagrant ssh -c [SPI-1240] (#29)
  lib/vagrant-orbstack/action.rb
  lib/vagrant-orbstack/action/ssh_run.rb
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/action/ssh_run_spec.rb
Due: Core Provider, Action Middleware

chore: add OrbStack test machine cleanup infrastructure
  Rakefile
  spec/spec_helper.rb
  spec/support/orbstack_cleanup.rb
Due: none

Path conditions:
  Core Provider: any of: lib/vagrant-orbstack/provider.rb, lib/vagrant-orbstack/config.rb, lib/vagrant-orbstack/plugin.rb, but not: spec/**/*, bin/**/*, vendor/**/*, tmp/**/*, pkg/**/*
  Action Middleware: any of: lib/vagrant-orbstack/action/**, but not: spec/**/*, bin/**/*, vendor/**/*, tmp/**/*, pkg/**/*
