Repository spiralhouse/vagrant-orbstack-provider: changes, and which Codecov flags are due for each by the changed paths.
All: Core Provider, Action Middleware

chore: ignore bundler binstubs directory
  .gitignore
Due: none

refactor: condense /whats-next command from 766 to 292 lines [SPI-1150]
  .claude/commands/whats-next.md
Due: none

refactor: drop Ruby 2.x support and use self-hosted runners
  .github/workflows/ci.yml
  vagrant-orbstack.gemspec
Due: none

fix: correct runner label casing (Linux, X64)
  .github/workflows/ci.yml
Due: none

fix: prevent duplicate CI runs on PR branches
  .github/workflows/ci.yml
Due: none

refactor: use GitHub-hosted runners for public repository
  .github/workflows/ci.yml
Due: none

fix: create pkg/ directory for gem build in CI workflow
  .github/workflows/ci.yml
Due: none

chore: require Ruby 3.2+ for Bundler 2.7 compatibility
  .github/workflows/ci.yml
  .rubocop.yml
  vagrant-orbstack.gemspec
Due: none

ci: Set up CI/CD pipeline with self-hosted runners (#1)
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
  vagrant-orbstack.gemspec
Due: none

feat: add Configuration class with distro selection [SPI-1131]
  README.md
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

feat: add Configuration class with distro selection [SPI-1131] (#5)
  README.md
  lib/vagrant-orbstack/config.rb
  spec/vagrant-orbstack/config_spec.rb
Due: Core Provider

chore: add codecov badge
  README.md
Due: none

chore: add codecov badge (#6)
  README.md
Due: none

feat: implement provider metadata storage [SPI-1132]
  docs/DESIGN.md
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider

fix: resolve RuboCop lint offenses in provider specs
  spec/vagrant-orbstack/provider_spec.rb
Due: none

feat: implement provider metadata storage [SPI-1132] (#7)
  docs/DESIGN.md
  lib/vagrant-orbstack/provider.rb
  spec/vagrant-orbstack/provider_spec.rb
Due: Core Provider

feat: implement OrbStack CLI detection and error handling [SPI-1133]
  lib/vagrant-orbstack/errors.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  locales/en.yml
  spec/spec_helper.rb
  spec/vagrant-orbstack/errors_spec.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
  vagrant-orbstack.gemspec
Due: none

fix: resolve CI failures and implement pre-push hooks [SPI-1133]
  .githooks/pre-push
  CLAUDE.md
  bin/install-git-hooks
  docs/GIT_HOOKS.md
  lib/vagrant-orbstack/errors.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: none

feat: implement OrbStack CLI detection and error handling [SPI-1133] (#8)
  .githooks/pre-push
  CLAUDE.md
  bin/install-git-hooks
  docs/GIT_HOOKS.md
  lib/vagrant-orbstack/errors.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  locales/en.yml
  spec/spec_helper.rb
  spec/vagrant-orbstack/errors_spec.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
  vagrant-orbstack.gemspec
Due: none

feat: add logging infrastructure to provider components [SPI-1134]
  lib/vagrant-orbstack/config.rb
  lib/vagrant-orbstack/provider.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  spec/spec_helper.rb
  spec/vagrant-orbstack/config_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: Core Provider

feat: add logging infrastructure to provider components [SPI-1134] (#9)
  lib/vagrant-orbstack/config.rb
  lib/vagrant-orbstack/provider.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  spec/spec_helper.rb
  spec/vagrant-orbstack/config_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: Core Provider

feat: add build automation and development environment setup [SPI-1135]
  DEVELOPMENT.md
  Gemfile
  Gemfile.lock
  Rakefile
  spec/integration/rakefile_spec.rb
Due: none

feat: add build automation and development environment setup [SPI-1135] (#10)
  DEVELOPMENT.md
  Gemfile
  Gemfile.lock
  Rakefile
  spec/integration/rakefile_spec.rb
Due: none

feat: enhance OrbStack CLI wrapper with machine lifecycle methods [SPI-1198]
  lib/vagrant-orbstack/errors.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: none

feat: enhance OrbStack CLI wrapper with machine lifecycle methods [SPI-1198] (#11)
  lib/vagrant-orbstack/errors.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: none

style: auto-correct test file formatting
  lib/vagrant-orbstack/provider.rb
  lib/vagrant-orbstack/util/state_cache.rb
  spec/vagrant-orbstack/provider_state_spec.rb
  spec/vagrant-orbstack/util/state_cache_spec.rb
Due: Core Provider

chore: exclude acceptable ClassLength violation for Provider class [SPI-1199]
  .rubocop.yml
Due: none

feat: implement machine state query and caching [SPI-1199] (#12)
  .rubocop.yml
  lib/vagrant-orbstack/provider.rb
  lib/vagrant-orbstack/util/state_cache.rb
  spec/vagrant-orbstack/provider_state_spec.rb
  spec/vagrant-orbstack/util/state_cache_spec.rb
Due: Core Provider

docs: update README and CHANGELOG for state management implementation [SPI-1199]
  CHANGELOG.md
  README.md
Due: none

refactor: extract state handler methods from Create#call [SPI-1200]
  lib/vagrant-orbstack/action/create.rb
Due: Action Middleware

refactor: extract distribution building from Create#create_machine [SPI-1200]
  lib/vagrant-orbstack/action/create.rb
Due: Action Middleware

refactor: document sanitization rules in MachineNamer [SPI-1200]
  lib/vagrant-orbstack/util/machine_namer.rb
Due: none

refactor: remove redundant else clause from Provider#action [SPI-1200]
  lib/vagrant-orbstack/provider.rb
Due: Core Provider

style: fix RuboCop style offenses after refactorings [SPI-1200]
  lib/vagrant-orbstack/action/create.rb
  lib/vagrant-orbstack/provider.rb
Due: Core Provider, Action Middleware

fix: update SPI-1198 tests for new OrbStackCLI API [SPI-1200]
  lib/vagrant-orbstack/errors.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  spec/integration/machine_creation_spec.rb
  spec/spec_helper.rb
  spec/vagrant-orbstack/action/create_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
  spec/vagrant-orbstack/util/machine_namer_spec.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: none

docs: update README and CHANGELOG for SPI-1200 machine creation [SPI-1200]
  CHANGELOG.md
  README.md
Due: none

style: auto-correct RuboCop style offenses [SPI-1200]
  spec/integration/machine_creation_spec.rb
  spec/vagrant-orbstack/action/create_spec.rb
  spec/vagrant-orbstack/util/machine_namer_spec.rb
Due: none

fix: resolve CI test failures and RuboCop offense [SPI-1200]
  lib/vagrant-orbstack/util/machine_namer.rb
  spec/integration/machine_creation_spec.rb
Due: none

fix: skip SimpleCov minimum coverage check for integration-only test runs [SPI-1200]
  .github/workflows/ci.yml
  spec/spec_helper.rb
Due: none

feat: implement machine creation and naming [SPI-1200] (#14)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  lib/vagrant-orbstack/action/create.rb
  lib/vagrant-orbstack/errors.rb
  lib/vagrant-orbstack/provider.rb
  lib/vagrant-orbstack/util/machine_namer.rb
  lib/vagrant-orbstack/util/orbstack_cli.rb
  spec/integration/machine_creation_spec.rb
  spec/spec_helper.rb
  spec/vagrant-orbstack/action/create_spec.rb
  spec/vagrant-orbstack/provider_spec.rb
  spec/vagrant-orbstack/util/machine_namer_spec.rb
  spec/vagrant-orbstack/util/orbstack_cli_spec.rb
Due: Core Provider, Action Middleware

Path conditions:
  Core Provider: any of: lib/vagrant-orbstack/provider.rb, lib/vagrant-orbstack/config.rb, lib/vagrant-orbstack/plugin.rb, but not: spec/**/*, bin/**/*, vendor/**/*, tmp/**/*, pkg/**/*
  Action Middleware: any of: lib/vagrant-orbstack/action/**, but not: spec/**/*, bin/**/*, vendor/**/*, tmp/**/*, pkg/**/*
